In [20]:
import pandas as pd
import json
from pathlib import Path

# data folder from fetch_all.py
DATA = Path("data/raw")

In [21]:
trips_path = DATA / "trips/yellow/2024/yellow_tripdata_2024-01.parquet"
df_trips = pd.read_parquet(trips_path)
df_trips.info()
print("columns", df_trips.columns)
print("Trips shape:", df_trips.shape)
display(df_trips.head(25))
display(df_trips[df_trips.isnull().any(axis=1)])
print(df_trips.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB
columns Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')
Trips shape: (2964624, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.00
5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1.0,4.70,1.0,N,148,141,1,29.6,3.50,0.5,6.90,0.00,1.0,41.50,2.5,0.00
6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2.0,10.82,1.0,N,138,181,1,45.7,6.00,0.5,10.00,0.00,1.0,64.95,0.0,1.75
7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0.0,3.00,1.0,N,246,231,2,25.4,3.50,0.5,0.00,0.00,1.0,30.40,2.5,0.00
8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1.0,5.44,1.0,N,161,261,2,31.0,1.00,0.5,0.00,0.00,1.0,36.00,2.5,0.00
9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1.0,0.04,1.0,N,113,113,2,3.0,1.00,0.5,0.00,0.00,1.0,8.00,2.5,0.00
10,2,2024-01-01 00:35:22,2024-01-01 00:41:41,2.0,0.75,1.0,N,107,137,1,7.9,1.00,0.5,0.00,0.00,1.0,12.90,2.5,0.00
11,1,2024-01-01 00:25:00,2024-01-01 00:34:03,2.0,1.20,1.0,N,158,246,1,14.9,3.50,0.5,3.95,0.00,1.0,23.85,2.5,0.00
12,1,2024-01-01 00:35:16,2024-01-01 01:11:52,2.0,8.20,1.0,N,246,190,1,59.0,3.50,0.5,14.15,6.94,1.0,85.09,2.5,0.00
13,1,2024-01-01 00:43:27,2024-01-01 00:47:11,2.0,0.40,1.0,N,68,90,1,5.8,3.50,0.5,1.25,0.00,1.0,12.05,2.5,0.00
14,1,2024-01-01 00:51:53,2024-01-01 00:55:43,1.0,0.80,1.0,N,90,68,2,6.5,3.50,0.5,0.00,0.00,1.0,11.50,2.5,0.00
15,1,2024-01-01 00:50:09,2024-01-01 01:03:57,1.0,5.00,1.0,N,132,216,2,21.2,2.75,0.5,0.00,0.00,1.0,25.45,0.0,1.75
16,1,2024-01-01 00:41:06,2024-01-01 00:53:42,1.0,1.50,1.0,N,164,79,1,12.8,3.50,0.5,4.45,0.00,1.0,22.25,2.5,0.00
17,2,2024-01-01 00:52:09,2024-01-01 00:52:28,1.0,0.00,1.0,N,237,237,2,3.0,1.00,0.5,0.00,0.00,1.0,8.00,2.5,0.00
18,2,2024-01-01 00:56:38,2024-01-01 01:03:17,1.0,1.50,1.0,N,141,263,1,9.3,1.00,0.5,3.00,0.00,1.0,17.30,2.5,0.00
19,2,2024-01-01 00:32:34,2024-01-01 00:49:33,1.0,2.57,1.0,N,161,263,1,17.7,1.00,0.5,10.00,0.00,1.0,32.70,2.5,0.00
20,2,2024-01-01 00:52:30,2024-01-01 00:57:37,1.0,0.66,1.0,N,263,236,1,6.5,1.00,0.5,2.88,0.00,1.0,14.38,2.5,0.00
21,1,2024-01-01 00:36:30,2024-01-01 01:13:53,2.0,1.70,1.0,N,246,170,1,29.6,3.50,0.5,6.90,0.00,1.0,41.50,2.5,0.00
22,2,2024-01-01 00:44:24,2024-01-01 00:51:57,1.0,0.94,1.0,N,158,113,1,8.6,1.00,0.5,2.72,0.00,1.0,16.32,2.5,0.00
23,1,2024-01-01 00:14:29,2024-01-01 00:14:29,1.0,0.00,1.0,N,236,264,2,3.0,3.50,0.5,0.00,0.00,1.0,8.00,2.5,0.00
24,1,2024-01-01 00:42:05,2024-01-01 01:16:49,1.0,23.90,5.0,N,263,265,1,120.0,0.00,0.0,0.00,6.94,1.0,127.94,0.0,0.00

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
2824462,2,2024-01-01 00:34:19,2024-01-01 00:51:22,NaN,2.04,NaN,None,143,141,0,12.72,0.00,0.5,0.00,0.00,1.0,16.72,NaN,NaN
2824463,1,2024-01-01 00:14:31,2024-01-01 00:19:29,NaN,1.60,NaN,None,236,238,0,9.30,1.00,0.5,2.86,0.00,1.0,17.16,NaN,NaN
2824464,1,2024-01-01 00:35:11,2024-01-01 01:13:40,NaN,0.00,NaN,None,142,79,0,21.01,0.00,0.5,0.00,0.00,1.0,25.01,NaN,NaN
2824465,1,2024-01-01 00:33:37,2024-01-01 00:50:34,NaN,0.00,NaN,None,237,4,0,17.79,0.00,0.5,0.00,0.00,1.0,21.79,NaN,NaN
2824466,1,2024-01-01 00:49:04,2024-01-01 01:01:16,NaN,0.00,NaN,None,244,50,0,34.65,0.00,0.5,0.00,0.00,1.0,38.65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          140162
trip_distance                 0
RatecodeID               140162
store_and_fwd_flag       140162
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     140162
Airport_fee              140162
dtype: int64

In [22]:
df_trip_a = df_trips[df_trips.fare_amount > 0]
df_trip_a = df_trip_a[df_trip_a.trip_distance >0]

Q1 = df_trip_a[fare_amount].quartile(0.25)
Q3 = df_trip_a[fare_amount].quartile(0.75)

IQR = Q3 - Q1 
IQR

NameError: name 'fare_amount' is not defined

In [15]:
df_trips_neg = df_trips[df_trips.fare_amount<0]
display(df_trips_neg.head(15))

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
99,2,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249,232,4,-13.5,-1.0,-0.5,0.0,0.0,-1.0,-18.50,-2.5,0.00
506,2,2024-01-01 00:04:00,2024-01-01 00:04:44,1.0,0.01,5.0,N,63,63,2,-31.5,0.0,0.0,0.0,0.0,-1.0,-34.25,0.0,-1.75
536,2,2024-01-01 00:41:42,2024-01-01 00:46:00,1.0,0.47,1.0,N,249,113,4,-5.8,-1.0,-0.5,0.0,0.0,-1.0,-10.80,-2.5,0.00
552,2,2024-01-01 00:42:02,2024-01-01 01:14:33,1.0,5.48,1.0,N,107,61,2,-33.1,-1.0,-0.5,0.0,0.0,-1.0,-38.10,-2.5,0.00
682,2,2024-01-01 00:24:02,2024-01-01 01:10:32,1.0,8.74,1.0,N,90,225,4,-47.8,-1.0,-0.5,0.0,0.0,-1.0,-52.80,-2.5,0.00
999,2,2024-01-01 00:14:22,2024-01-01 00:21:53,1.0,1.17,1.0,N,170,161,4,-9.3,-1.0,-0.5,0.0,0.0,-1.0,-14.30,-2.5,0.00
1057,2,2024-01-01 00:45:56,2024-01-01 00:56:05,3.0,1.57,1.0,N,79,234,4,-11.4,-1.0,-0.5,0.0,0.0,-1.0,-16.40,-2.5,0.00
1195,2,2024-01-01 00:30:18,2024-01-01 00:57:39,1.0,9.60,1.0,N,79,69,4,-40.1,-1.0,-0.5,0.0,0.0,-1.0,-45.10,-2.5,0.00
1382,2,2024-01-01 00:33:28,2024-01-01 00:33:57,2.0,0.00,1.0,N,162,162,4,-3.0,-1.0,-0.5,0.0,0.0,-1.0,-8.00,-2.5,0.00
1472,2,2024-01-01 00:30:10,2024-01-01 00:40:01,2.0,1.58,1.0,N,249,231,4,-11.4,-1.0,-0.5,0.0,0.0,-1.0,-16.40,-2.5,0.00
1712,2,2024-01-01 00:20:38,2024-01-01 00:32:34,1.0,1.89,1.0,N,170,113,4,-12.8,-1.0,-0.5,0.0,0.0,-1.0,-17.80,-2.5,0.00
1753,2,2024-01-01 00:14:14,2024-01-01 00:24:57,2.0,0.63,1.0,N,164,170,2,-10.0,-1.0,-0.5,0.0,0.0,-1.0,-15.00,-2.5,0.00
1755,2,2024-01-01 00:41:41,2024-01-01 01:03:04,1.0,3.15,1.0,N,234,141,4,-20.5,-1.0,-0.5,0.0,0.0,-1.0,-25.50,-2.5,0.00
1942,2,2024-01-01 00:17:55,2024-01-01 00:18:05,1.0,0.01,2.0,N,90,90,4,-70.0,0.0,-0.5,0.0,0.0,-1.0,-74.00,-2.5,0.00
2042,2,2024-01-01 00:52:15,2024-01-01 00:58:29,2.0,0.66,1.0,N,161,237,2,-7.2,-1.0,-0.5,0.0,0.0,-1.0,-12.20,-2.5,0.00

In [7]:
zones_path = DATA / "geo/taxi_zone_lookup.csv"
df_zones = pd.read_csv(zones_path)
print("Zones shape:", df_zones.shape)
display(df_zones.head(200))

Zones shape: (265, 4)

,LocationID,Borough,Zone,service_zone
0,1,EWR,Newark Airport,EWR
1,2,Queens,Jamaica Bay,Boro Zone
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone
3,4,Manhattan,Alphabet City,Yellow Zone
4,5,Staten Island,Arden Heights,Boro Zone
...,...,...,...,...
195,196,Queens,Rego Park,Boro Zone
196,197,Queens,Richmond Hill,Boro Zone
197,198,Queens,Ridgewood,Boro Zone
198,199,Bronx,Rikers Island,Boro Zone
199,200,Bronx,Riverdale/North Riverdale/Fieldston,Boro Zone

In [8]:
weather_path = DATA / "weather/openmeteo_hourly_2024-01-01_2024-01-31.json"
with open(weather_path) as f:
    weather_raw = json.load(f)

df_weather = pd.DataFrame({
    "ts_utc": weather_raw["hourly"]["time"],
    "temp_c": weather_raw["hourly"]["temperature_2m"],
    "precip_mm": weather_raw["hourly"]["precipitation"],
})
df_weather["ts_utc"] = pd.to_datetime(df_weather["ts_utc"])
print("Weather shape:", df_weather.shape)
display(df_weather.head())

Weather shape: (744, 3)

               ts_utc  temp_c  precip_mm
0 2024-01-01 00:00:00     3.7        0.0
1 2024-01-01 01:00:00     4.7        0.0
2 2024-01-01 02:00:00     3.8        0.0
3 2024-01-01 03:00:00     3.0        0.0
4 2024-01-01 04:00:00     2.5        0.0

In [9]:

pois_path = DATA / "pois/osm_pois_manhattan.json"

with open(pois_path) as f:
    pois_raw = json.load(f)

# Flatten JSON to a DataFrame
df_pois = pd.json_normalize(pois_raw["elements"])

print("POIs shape:", df_pois.shape)
display(df_pois.head(10))

POIs shape: (144, 106)

,type,id,lat,lon,tags.amenity,tags.ferry,tags.name,tags.network,tags.operator,tags.public_transport,...,tags.shop,tags.tickets:public_transport,tags.layer,tags.operator:type,tags.operator:wikidata,tags.smoking,tags.source_ref,tags.indoor,tags.level:ref,tags.room
0,node,166878947,40.702450,-74.005503,ferry_terminal,yes,Pier 11 / Wall St. Terminal,"East River, Astoria, South Brooklyn, Rockaway ...","NYC Ferry/Hornblower, New York Water Taxi, NY ...",stop_position,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,357621192,40.846563,-73.938127,theatre,NaN,United Palace,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,368051456,40.774128,-73.984131,theatre,NaN,Clark Studio Theater,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,368051467,40.730086,-73.992131,theatre,NaN,Astor Place Opera House,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,368051495,40.763157,-73.955972,theatre,NaN,Caspary Auditorium,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,node,368051619,40.758900,-73.984617,theatre,NaN,Palace Theater,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,node,368051660,40.758198,-73.989556,theatre,NaN,Second Stage Theater,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,node,368051665,40.743949,-74.001512,theatre,NaN,Atlantic Theater,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,node,368051668,40.735291,-73.989458,theatre,NaN,Daryl Roth Theater,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,node,368051674,40.742500,-74.001111,theatre,NaN,Joyce Theatre,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN